@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

.principal{
    background-color:rgb(11, 17, 17);
    margin: 0px;
}
.inicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: -15px;
    margin-left: 3%;
    margin-right: 3%; 
}
#h1solo{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    margin-bottom: -10px;
    font-weight: bold;
    margin-top: auto;
    color: rgb(255, 255, 255);
    border: 1px;
}
.contato{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: 0.5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#formulario{
    text-align: center;
}
.form1{
    margin-left: 25%;
    margin-right: 25%;
}
#msg{
    height: 100px;
}
#asolo{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
p, .content{
    font-family: 'Girassol', cursive;
    text-align: center;
}
.contato{
    text-align: center;
}
.button-is-dark{
    margin-top: 3px;
}
.columns{
    margin-left: 3%;
    margin-right: 3%;
}
